$orange: #f44336;
$green: #8bc34a;
.game {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.board {
  display: grid;
  border: 2px solid #fff;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  position: relative;
  z-index: 2;
}

.rgb::after {
  content: "";
  position: absolute;
  inset: -10px;
  border-radius: 16px;
  filter: blur(8px);
  z-index: -1;
  animation: rgb 3s linear infinite;
}
.square {
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  box-sizing: border-box;
  font-size: 2rem;
  text-align: center;
  background-color: #343434;
  color: #fff;
  margin: auto;
  &.invalid {
    border-color: $orange;
    color: $orange;
  }
}
.square:nth-of-type(9n+4){
  background-color: #71707093;
}
.square:nth-of-type(9n+5){
  background-color: #71707093;
}
.square:nth-of-type(9n+6){
  background-color: #71707093;
}

.square:nth-of-type(n+28){
  background-color: #71707093;
}
.square:nth-of-type(n+55){
  background-color: #343434;
}

.square:nth-of-type(9n+4){
  background-color: #71707093;
}
.square:nth-of-type(9n+5){
  background-color: #71707093;
}
.square:nth-of-type(9n+6){
  background-color: #71707093;
}
.square:nth-of-type(31){
  background-color: #343434;
}
.square:nth-of-type(32){
  background-color: #343434;
}
.square:nth-of-type(33){
  background-color: #343434;
}
.square:nth-of-type(40){
  background-color: #343434;
}
.square:nth-of-type(41){
  background-color: #343434;
}
.square:nth-of-type(42){
  background-color: #343434;
}
.square:nth-of-type(49){
  background-color: #343434;
}
.square:nth-of-type(51){
  background-color: #343434;
}
.square:nth-of-type(50){
  background-color: #343434;
}

.solve {
  display: flex;
  text-align: center;
  margin-top: 2rem;
}
.timer {
  margin-top: 1rem;
  padding: 5px;
  color: black;
}
#solvebtn,
#resetbtn {
  border: none;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0 1rem;
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
  }
}
#solvebtn {
  background-color:#414040;
  color: #ffffff;
}
#resetbtn {
  background-color: #414040;
  color: white;
}

@keyframes rgb {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
